{% load static i18n %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DALME Project">
    <meta name="author" content="DALME">
    <title>{{ page_title }} | DALME</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/icons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/icons/safari-pinned-tab.svg' %}" color="#912643">
    <link rel="shortcut icon" href="{% static '/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="DALME">
    <meta name="application-name" content="DALME">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{% static '/icons/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static '/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <script type="text/javascript" src="{% static 'js/dalme_app.js' %}"></script> -->
    <!-- <link href="{% static 'css/dalme_app.css' %}" rel="stylesheet"> -->
    {% block extra_head %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body id="page-top">
  <div class="layout-wrapper layout-static">
		<div id="topbar"><topbar @menu-toggle="onMenuToggle"></topbar></div>
    <div id="sidebar">
        <transition name="layout-sidebar">
            <div :class="sidebarClass" @click="onSidebarClick" v-show="isSidebarVisible()">
                <div class="layout-logo">
                    <img alt="Logo" src="/static/images/dalme_logo.svg" style="width: 50px;"/>
                </div>

                <profile></profile>
                <sidebar :model="menu" @menuitem-click="onMenuItemClick"></sidebar>
            </div>
        </transition>
    </div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'main' %}
		<div class="layout-main">
      {% block content %}
      {% endblock %}
		</div>

		<AppFooter />
	</div>

{% block extra_scripts %}
{% endblock %}
</body>
</html>
