{% extends "base.html" %}
{% load static i18n %}
{% block extra_head %}
<link href="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qmarkdown/dist/index.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id="ticket-detail" class="full-width v-cloak">
  <template v-if="dataset">
    <div class="row q-px-lg q-py-md" v-if="dataset">
      <div class="full-width row text-h2 condensed q-pl-xs q-mb-sm">
        <span class="text-grey-10">${ dataset.subject }</span>
        <span class="text-weight-regular text-grey-6 q-ml-sm">#${ dataset.id }</span>
        <q-btn
          v-if="showEdit"
          flat
          color="white"
          text-color="grey-9"
          icon="fas fa-bars"
          style="margin-left: auto;"
        >
        <q-menu fit anchor="bottom right" self="top right" ref="ticket_menu">
          <q-list padding dense class="text-grey-9">
            <q-item clickable v-close-popup @click="toggle_status">
              <q-item-section v-if="dataset.status == 0">Close ticket</q-item-section>
              <q-item-section v-else>Re-open ticket</q-item-section>
            </q-item>
            <template v-if="dataset.status == 0">
              <q-separator spaced></q-separator>
              <q-item>
                <q-item-section class="text-weight-bold">Assign to:</q-item-section>
              </q-item>
              <template v-for="user in asignees">
                <q-item
                  dense
                  clickable
                  v-close-popup
                  size="10px"
                  @click="assign_ticket(user.id)"
                >
                  <q-item-section :class="{ 'text-light-blue-10 text-weight-bold': dataset.assigned_to && user.id == dataset.assigned_to.id }">
                    <div class="row items-center">
                      <span class="text-weight-medium q-mr-sm" v-text="user.username"></span>
                      <span class="text-grey-6" v-text="user.full_name"></span>
                    </div>
                  </q-item-section>
                </q-item>
              </template>
              <q-separator spaced></q-separator>
              <q-item>
                <q-item-section class="text-weight-bold">Toggle tags:</q-item-section>
              </q-item>
              <template v-for="tag in dalme_base.$data.tagOptions">
                <q-item
                  dense
                  clickable
                  v-close-popup
                  size="10px"
                  @click="toggle_tag(tag.value)"
                >
                  <q-checkbox
                    dense
                    size="sm"
                    :value="tagsList.includes(tag.value)"
                    class="q-mr-sm"
                  ></q-checkbox>
                  <q-chip
                    :color="tag.color"
                    :label="tag.label"
                    text-color="grey-10"
                    dense
                    size="13px"
                  ></q-chip>
                </q-item>
              </template>
              <template v-if="!dataset.file">
                <q-separator spaced></q-separator>
                <q-uploader
                  ref="file_uploader"
                  :url="dalme_base.$data.uploadUrl"
                  method="POST"
                  :headers="dalme_base.uploadHeaders"
                  field-name="file"
                  with-credentials
                  style="width: auto;"
                  color="white"
                  text-color="grey-7"
                  flat
                  hide-upload-btn
                  label="Upload File:"
                  class="menu-uploader q-px-md"
                  square
                  no-thumbnails
                  auto-upload
                  @uploaded="upload_ok"
                  @failed="upload_failed"
                ></q-uploader>
              </template>
              <template v-if="!dataset.url">
                <q-separator spaced></q-separator>
                <q-item clickable v-close-popup @click="add_url">
                  <q-item-section>Add link...</q-item-section>
                </q-item>
              </template>
            </template>
          </q-list>
        </q-menu>
      </q-btn>
      </div>
      <div class="items-center">
        <q-chip
          :icon="dataset.status == 0 ? 'fas fa-exclamation-circle' : 'fas fa-check-circle'"
          :color="dataset.status == 0 ? 'green-8' : 'red-8'"
          size="14px"
          text-color="white"
          class="text-weight-bold q-mr-sm"
          :label="dataset.status == 0 ? 'Open' : 'Closed'"
        ></q-chip>
        <span class="text-body2">
          <user-popover v-bind="dataset.creation_user"></user-popover>
          opened this ticket ${ dalme_base.format_date(dataset.creation_timestamp, ['on ', '']) }
          ・ ${ dataset.comment_count } comments
        </span>
      </div>
    </div>
    <q-separator></q-separator>
    <div class="row q-pt-lg q-mb-xl">
      <div class="column col-9">
        <q-list>
          <div class="comment_threadline q-mt-sm q-pb-lg">
            <q-item class="q-pb-sm q-pt-none q-px-lg">
              <q-item-section top avatar>
                <q-avatar v-if="dataset.creation_user.avatar" size="40px">
                  <img :src="dataset.creation_user.avatar">
                </q-avatar>
                <q-avatar v-else size="40px" icon="fas fa-user" color="light-blue-3" text-color="blue-9">
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-card flat bordered class="box-left-arrow">
                  <q-card-section class="bg-grey-2 q-py-sm">
                    <user-popover v-bind="dataset.creation_user"></user-popover>
                    commented ${ dalme_base.format_date(dataset.creation_timestamp, ['on ', ''], null, with_time=true) }
                  </q-card-section>
                  <q-separator></q-separator>
                  <q-card-section class="text-body2">
                    <q-markdown :src="dataset.description" :extend="dalme_base.extend_markdown">
                    </q-markdown>
                  </q-card-section>
                </q-card>
              </q-item-section>
            </q-item>
            <template v-if="dataset.comments" v-for="comment in dataset.comments">
              <q-item class="q-py-sm q-px-lg">
                <q-item-section top avatar>
                  <q-avatar v-if="comment.creation_user.avatar" size="40px">
                    <img :src="comment.creation_user.avatar">
                  </q-avatar>
                  <q-avatar v-else size="40px" icon="fas fa-user" color="light-blue-3" text-color="blue-9">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-card flat bordered class="box-left-arrow">
                    <q-card-section class="bg-grey-2 q-py-sm">
                      <user-popover v-bind="comment.creation_user"></user-popover>
                      commented ${ dalme_base.format_date(comment.creation_timestamp, ['on ', ''], null, with_time=true) }
                    </q-card-section>
                    <q-separator></q-separator>
                    <q-card-section class="text-body2">
                      <q-markdown :src="comment.body" :extend="dalme_base.extend_markdown">
                      </q-markdown>
                    </q-card-section>
                  </q-card>
                </q-item-section>
              </q-item>
            </template>
          </div>
          <q-separator inset class="q-mb-lg" style="height: 2px;"></q-separator>
          <comment-box :model="'Ticket'" :object="objectId" @created="add_comment" ref="new_comment"></comment-box>
        </q-list>
      </div>
      <div class="column col-3 q-pl-sm q-pt-sm q-pr-lg text-caption">
        <div class="q-pb-md q-px-xs">
          <div class="text-weight-bold text-grey-9 full-width q-mb-sm">Status</div>
          <template v-if="dataset.status == 1">
            Closed ${ dalme_base.format_date(dataset.closing_date, ['on ', '']) } by
            <user-popover v-bind="dataset.closing_user"></user-popover>
          </template>
          <span v-else>Open</span>
        </div>
        <q-separator></q-separator>
        <div class="q-py-md q-px-xs">
          <div class="text-weight-bold text-grey-9 full-width q-mb-sm">Assigned to</div>
          <template v-if="dataset.assigned_to">
            <user-popover v-bind="dataset.assigned_to"></user-popover>
          </template>
          <span v-else>Not assigned</span>
        </div>
        <q-separator></q-separator>
        <div class="q-py-md q-px-xs">
          <div class="text-weight-bold text-grey-9 full-width q-mb-sm">Tags</div>
          <template v-if="hasTags">
            <q-chip
              v-for="tag in dataset.tags"
              v-if="tag.tag != 0"
              :color="get_tag_colour(tag.tag)"
              :label="tag.tag"
              text-color="grey-10"
              dense
              size="13px"
              class="q-my-none q-ml-none q-mr-xs"
            ></q-chip>
          </template>
          <span v-else>None yet</span>
        </div>
        <q-separator></q-separator>
        <div class="q-py-md q-px-xs">
          <div class="text-weight-bold text-grey-9 full-width q-mb-sm">Files</div>
          <template v-if="dataset.file">
            <q-carousel
              swipeable
              animated
              arrows
              infinite
              v-model="slide"
              v-if="dataset"
              :fullscreen.sync="imageZoomed"
              height="170px"
            >
              <q-carousel-slide :name="1" :img-src="dataset.file.source"></q-carousel-slide>
              <template v-slot:control>
                <q-carousel-control
                  position="bottom-right"
                  :offset="[18, 18]"
                >
                  <q-btn
                    round color="white" text-color="primary"
                    :icon="imageZoomed ? 'fas fa-compress' : 'fas fa-expand'"
                    @click="imageZoomed = !imageZoomed"
                  />
                </q-carousel-control>
              </template>
            </q-carousel>
          </template>
          <span v-else>None</span>
        </div>
        <q-separator></q-separator>
        <div class="q-py-md q-px-xs">
          <div class="text-weight-bold text-grey-9 full-width q-mb-sm">Links</div>
          <a v-if="dataset.url" :href="dataset.url">${ dataset.url }</a>
          <span v-else>None</span>
        </div>
      </div>
    </div>
  </template>
</div>
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qmarkdown/dist/index.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/textarea-caret@3.1.0/index.min.js"></script>
  <script>{% include "dalme_app/includes/components/UserPopover/UserPopover.js" %}</script>
  <script>{% include "dalme_app/includes/components/CommentBox/CommentBox.js" %}</script>
  <script>
    Quasar.iconSet.set(Quasar.iconSet.fontawesomeV5)
    const ticket = new Vue({
      el: '#ticket-detail',
      delimiters: ['${', '}'],
      mounted() {
        dalme_base.api_fetch('tickets', this.objectId, null, this.set_data);
      },
      data: {
        objectId: {{ object.id }},
        dataset: null,
        asignees: null,
        showEdit: false,
        slide: 1,
        imageZoomed: false
      },
      computed: {
        tagsList() {
          return this.dataset.tags.map(value => value.tag).filter(value => value != 0);
        },
        hasTags() {
          return this.tagsList.length ? true : false;
        },
      },
      methods: {
        set_data(data) {
          this.dataset = data;
          const admin = dalme_base.$data.user.groups.filter(value => ['Developers', 'Administrators', 'Super Administrators'].includes(value)).length ? true : false;
          const owner = this.dataset.creation_user.id == dalme_base.$data.user.id ? true : false;
          this.showEdit = admin || owner;
          if (this.showEdit) {
            dalme_base.api_fetch(
              'users',
              null,
              { groups: 'Developers,Administrators,Super Administrators' },
              this.set_user_list
            );
          }
        },
        get_tag_colour(tag) {
          return dalme_base.$data.tagOptions.find(o => o.value === tag).color;
        },
        set_user_list(data) {
          this.asignees = data;
        },
        toggle_status() {
          const code = this.dataset.status == 0 ? 1 : 0;
          this.update_ticket({status: code});
        },
        assign_ticket(id) {
          this.update_ticket({assigned_to: id});
        },
        toggle_tag(tag) {
          const tags = new Set(this.tagsList);
          if (tags.has(tag)) {
            tags.delete(tag)
          } else {
            tags.add(tag)
          }
          this.update_ticket({tags: [...tags]});
        },
        add_comment(data) {
          this.dataset.comments.push(data);
        },
        update_ticket(data) {
          dalme_base.api_post('tickets', this.dataset.id, data, 'PATCH', this.set_data);
        },
        upload_ok(info) {
          let response = JSON.parse(info.xhr.response);
          this.$refs.ticket_menu.hide();
          this.update_ticket({file: response.id});
        },
        upload_failed(info) {
          let response = JSON.parse(info.xhr.response);
          let message = '<div class="text-body2">There was a problem uploading the file.';
          if ('error' in response) {
            message += ` The server responded:</div><div class="q-my-sm text-weight-bold text-red-9">${response.error}</div>`;
          } else {
            message += '</div>'
          }
          this.$refs.file_uploader.reset();
          this.$refs.ticket_menu.hide();
          this.$q.notify({
            message: message,
            icon: 'fas fa-times',
            color: 'red-3',
          });
        },
        add_url() {
          this.$q.dialog({
            title: 'Enter Link:',
            prompt: {
              model: '',
              type: 'url',
              borderless: true
            },
            ok: {
              label: 'Save link',
              flat: true,
              color: 'light-blue-10',
              dense: true,
              'no-caps': true
            },
            cancel: {
              label: 'Cancel',
              flat: true,
              color: 'grey-6',
              dense: true,
              'no-caps': true
            },
            persistent: true,
            position: 'bottom',
            'content-class': 'custom-dialogue'
          }).onOk(data => {
            this.update_ticket({url: data});
          })
        }
      },
    })
  </script>
{% endblock %}
