{% load static i18n compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DALME Project">
    <meta name="author" content="DALME">
    <title>{{ page_title }} | DALME</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/icons/site_db.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/icons/safari-pinned-tab.svg' %}" color="#912643">
    <link rel="shortcut icon" href="{% static '/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="DALME">
    <meta name="application-name" content="DALME">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{% static '/icons/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static '/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- analytics -->
    <!--script async defer data-domain="db.dalme.org" src="https://plausible.io/js/plausible.js"></script-->
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>




    <!-- OLD STUFF - HERE FOR TEMPORARY COMPATIBILITY ONLY! ######################################### -->
    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" integrity="sha256-ur/YlHMU96MxHEsy3fHGszZHas7NzH4RQlD4tDVvFhw=" crossorigin="anonymous"></script>
    <!-- JQuery stuff -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <link href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrapcustom.min.css' %}" rel="stylesheet">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sp-1.1.1/sl-1.3.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/dataRender/datetime.js"></script>
    <!-- DataTables Editor -->
    <link rel="stylesheet" type="text/css" href="{% static 'js/Editor-1.9.4/css/editor.bootstrap4.min.css' %}">
    <script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/dataTables.editor.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Editor-1.9.4/js/editor.bootstrap4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css" integrity="sha256-ibvTNlNAB4VMqE5uFlnBME6hlparj5sEr1ovZ3B/bNA=" crossorigin="anonymous" />
    <!-- other -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
    <!-- DALME CSS -->
    <link href="{% static 'css/dalme_app/_alerts.css' %}" rel="stylesheet">
    <link href="{% static 'css/dalme_app/_comments_module.css' %}" rel="stylesheet">
    <link href="{% static 'css/dalme_app/_dt_rendering.css' %}" rel="stylesheet">
    <link href="{% static 'css/dalme_app/_dte_forms.css' %}" rel="stylesheet">
    <link href="{% static 'css/dalme_app/_general.css' %}" rel="stylesheet">
    <link href="{% static 'css/dalme_app/_sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/dalme_app/_topbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/dalme_app/_workflow_manager.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/dalme_app/dalme_util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dalme_app/dalme_app.js' %}"></script>
    <script>
      $(document).ready(function () {
          dalme_startup({% if helpers %}"{{ helpers | safe }}"{% endif %});
          {% if messages %}
              {% for message in messages %}
                toastr.{{ message.tags }}('{{ message | safe }}');
              {% endfor %}
          {% endif %}
      });
    </script>
    <!-- END OLD STUFF - ########################################################################## -->




    <!-- QUASAR -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/animate.css@^4.0.0/animate.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.2/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <!-- DALME -->
    {% compress css %}
      <link href="{% static 'css/dalme_app/general.css' %}" rel="stylesheet">
    {% endcompress %}
    <script>
      api_endpoint = "{{ api_endpoint }}";
      db_endpoint = "{{ db_endpoint }}";
    </script>




    <!-- OLD STUFF - HERE FOR TEMPORARY COMPATIBILITY ONLY! ######################################### -->
    {% if helpers %}
      {% for helper in helpers %}
        {% with 'js/dalme_helpers/'|add:helper|add:'.js' as helper_static %}
          <script type="text/javascript" src="{% static helper_static %}"></script>
        {% endwith %}
      {% endfor %}
    {% endif %}
    <!-- END OLD STUFF - ########################################################################## -->




    {% block extra_head %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
  <div id="dalme-nav">
    <template>
      <div class="row no-wrap">
        <q-toolbar class="dalme-logo-bg text-white col-auto q-px-md">
          <q-avatar square color="white" size="sm">
            <img height="20" src="{% static 'images/dalme_logo.svg'%}" alt="DALME">
          </q-avatar>
          <q-toolbar-title class="text-subtitle1"><strong>DALME</strong> DB</q-toolbar-title>
        </q-toolbar>
        {% include "dalme_app/includes/_navbar_main.html" %}
        <q-toolbar class="text-grey-5 col-auto q-pa-none">
          <q-separator dark vertical color="tbar-separator"></q-separator>
          {% include "dalme_app/includes/_navbar_search.html" %}
          <q-separator dark vertical color="tbar-separator"></q-separator>
          {% include "dalme_app/includes/_navbar_help.html" %}
          <q-separator dark vertical color="tbar-separator"></q-separator>
          {% include "dalme_app/includes/_navbar_user.html" %}
          <q-separator dark vertical color="tbar-separator"></q-separator>
          <q-btn
            flat
            stretch
            dense
            :icon="fullScreen ? 'fas fa-compress' : 'fas fa-expand'"
            size="xs"
            padding="0 15px"
            @click="toggle_full_screen">
          </q-btn>
        </q-toolbar>
      </div>
      <q-bar class="bg-grey-3 text-grey-7 q-px-md text-weight-medium">
        {% include "dalme_app/includes/_breadcrumb.html" %}
        <q-space></q-space>
        {% include "dalme_app/includes/_navbar_secondary.html" %}
      </q-bar>
    </template>
  </div>
  <main id="main" class="main" role="main">
    <content class="content-container">
      {% block content %}{% endblock %}
    </content>
  </main>
  {% block extra_scripts %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.2/dist/quasar.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.2/dist/icon-set/fontawesome-v5.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous"></script>
  <script>{% include "dalme_app/includes/vue-components/CreateIssueTicket.js" %}</script>
  {{ page_context | json_script:"context-data" }}
  <script>
    Quasar.iconSet.set(Quasar.iconSet.fontawesomeV5);
    const dalme_base = new Vue({
      el: '#dalme-nav',
      delimiters: ['${', '}'],
      created() {
        window.addEventListener("resize", this.windowResized);
        document.addEventListener("fullscreenchange", function(event) {
          dalme_base.$data.fullScreen = document.fullscreenElement ? true : false;
        });
        this.preferences = this.contextData.preferences;
        this.breadcrumb = this.contextData.breadcrumb;
        this.user = this.contextData.user;
        this.mainMenu = this.contextData.main_menu;
        this.secondaryMenu = this.contextData.secondary_menu;
      },
      data: {
        apiEndpoint: "{{ api_endpoint }}",
        dbEndpoint: "{{ db_endpoint }}",
        preferences: null,
        breadcrumb: null,
        user: null,
        mainMenu: null,
        secondaryMenu: null,
        windowWidth: window.innerWidth,
        fullScreen: document.fullscreenElement == null ? false : true,
        query: "{{ form.0.query.value|default_if_none:'' }}",
        date: Quasar.utils.date,
        tagOptions: [
          { label: 'bug', value: 'bug', color: 'red-3' },
          { label: 'content', value: 'content', color: 'amber-3' },
          { label: 'documentation', value: 'documentation', color: 'light-blue-3' },
          { label: 'feature', value: 'feature', color: 'deep-purple-3' },
          { label: 'question', value: 'question', color: 'light-green-3' }
        ],
        uploadUrl: '{{ api_endpoint }}/attachments/',
      },
      computed: {
        contextData() {
          const node = document.getElementById('context-data');
          document.getElementsByTagName("BODY")[0].removeChild(node);
          return JSON.parse(node.textContent);
        },
        compactMode() {
          return this.windowWidth <= 850;
        },
        uploadHeaders() {
          return [{name: 'X-CSRFToken', value: this.$q.cookies.get('csrftoken')}]
        },
      },
      methods: {
        go(url) {
          window.location.href = url;
        },
        logout() {
          this.$q.dialog({
            title: 'Ready to leave?',
            message: 'Select <span class="text-weight-medium text-light-blue-10">Log out</span> below if you are ready to end your current session.',
            ok: {
              label: 'Log out',
              flat: true,
              color: 'light-blue-10',
              dense: true,
              'no-caps': true
            },
            cancel: {
              label: 'Cancel',
              flat: true,
              color: 'grey-6',
              dense: true,
              'no-caps': true
            },
            persistent: true,
            html: true,
            'content-class': 'custom-dialogue'
          }).onOk(() => {
            this.go('/logout/')
          })
        },
        report_issue() {
          this.$q.dialog({
            component: 'CreateIssueTicket',
            parent: this,
          })
        },
        search_help() {
          console.log('search_help')
        },
        toggle_full_screen() {
          if (!this.fullScreen) {
            this.$q.fullscreen.request();
          } else {
            this.$q.fullscreen.exit();
          }
        },
        windowResized() {
          this.windowWidth = window.innerWidth;
        },
        format_date(date_string, prefixes=null, suffixes=null, with_time=false) {
          let date = null;
          const format = with_time ? 'D MMM YYYY @ H:mm' : 'D MMM YYYY';
          if (this.date.isValid(date_string)) {
            if (this.date.getDateDiff(Date.now(), date_string, 'days') > 7) {
              date = this.date.formatDate(date_string, format);
              if (prefixes) date = `${prefixes[0]}${date}`;
              if (suffixes) date = `${date}${suffixes[0]}`;
            } else {
              date = timeago.format(date_string)
              if (prefixes) date = `${prefixes[1]}${date}`;
              if (suffixes) date = `${date}${suffixes[1]}`;
            }
          }
          return date
        },
        api_fetch(endpoint, object, parameters, callback, pass=null) {
          let url = object ? `${this.apiEndpoint}/${endpoint}/${object}/?format=json` : `${this.apiEndpoint}/${endpoint}/?format=json`;
          if (parameters) {
            for (const [key, value] of Object.entries(parameters)) {
              url += `&${key}=${value}`;
            }
          }
          fetch(url)
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.json()
            }).then(data => {
              callback(data, pass);
            }).catch((error) => {
              this.$q.notify({
                message: `There was a problem communicating with the server. ${error}`,
                icon: 'fas fa-times',
                color: 'red-3',
              });
            });
        },
        api_post(endpoint, target, data, method, callback) {
          let url = target ? `${this.apiEndpoint}/${endpoint}/${target}/` : `${this.apiEndpoint}/${endpoint}/`;
          fetch(url, {
            method: method,
            mode: 'cors',
            credentials: 'include',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': this.$q.cookies.get('csrftoken')
            },
            redirect: 'follow',
            body: JSON.stringify(data)
          }).then(response => {
            if (response.status == 400) {
              return response.json()
            }
            else if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json()
          }).then(data => {
            callback(data);
          })
          .catch((error) => {
            this.$q.notify({
              message: `There was a problem communicating with the server. ${error}`,
              icon: 'fas fa-times',
              color: 'red-3',
            });
          });
        }
      },
    })
  </script>
  {% endblock %}
</body>
</html>
